.header {
  nav {
    background-color: $darkblack;
    padding: 3px 16px;
  }

  &__logo {
    p {
      font-size: $font-sm;
      color: $blue;
    }
  }

  &__menu {
    // mobile menu

    > span {
      display: block;
      width: 26px;
      height: 2px;
      background-color: $white;

      &:not(:last-child) {
        margin-bottom: 3px;
      }
    }
  }

  &__links {
    a {
      color: $white;
      font-size: $font-vsm;
      padding: 4px 30px;
    }
  }

  &__socials {
    border: 1px solid $white;
    padding: 4px;

    a {
      color: $white;
      padding: 10px;
    }
  }
}
