// Colors

$darkpurple: rgb(80, 17, 151);
$darkblack: rgb(0, 0, 0);

// Fonts
$title-font: "Public Sans",
sans-serif;

$body-font: "Arial Black";

// Font sizes

$font-sm: 0.875rem;
$font-med: 1.125rem;

// Una vez tenemos los colores definidos con sus variables, podemos usarlo en vez de escribir el codigo del color.

// ejemplo
// background-color: $darkpurple;
// ejemplo
// font-size: $font-sm;